@font-face {
  font-family: "iconfont"; /* Project id 3198468 */
  src: url('iconfont.woff2?t=1646037768057') format('woff2'),
       url('iconfont.woff?t=1646037768057') format('woff'),
       url('iconfont.ttf?t=1646037768057') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tupiantianchong:before {
  content: "\e6b2";
}

.icon-sousuo:before {
  content: "\e8ba";
}

.icon-zuohua:before {
  content: "\e655";
}

.icon-xiahuasanjiao:before {
  content: "\e6c8";
}

